.exchange-block {
  max-width: 960px;
  width: 100%;
  color: $dark;
  padding: 45px 80px;
  background: $white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;

  &__checkbox-group{
    margin: 45px 0;
  }
  .custom-checkbox {
    margin-top: 15px;
  }

  &__swap-btn {
    border: none;
    width: 70px;
    height: 70px;
    background: #FAFAFA;
    box-shadow: -3px -3px 12px rgba(255, 255, 255, 0.03), 3px 3px 12px rgba(0, 0, 0, 0.16);
    border-radius: 35px;
    display: block;
    .icon {
      width: 35px;
    }
  }

  &__currency {
    display: flex;
    margin-bottom: 15px;

    &-symbol {
      margin-right: 25px;
    }

    &-text {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 44px;

      color: #2D2F34;
    }
  }

  &__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: space-between;
  }

  &__label {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 11px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__input-number {
    font-size: 36px;
    max-width: 260px;
  }

  &__input {
    margin: 0;
    padding: 0;
    width: 130px;
    border: unset;
    text-align: left;
    background: transparent;
    margin-right: 0.5rem;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;

  }
  &__rate{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #2D2F34;
    margin-right: 40px;
    white-space: nowrap;
  }
  &__btn {
    gap: 10px;
    color: $white;
    width: 269px;
    height: 68px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background: $blueV2;
    border: none;
    border-radius: 5px;
    outline: auto !important;

    &-block {
      display: flex;
      align-items: center;
    }
    .icon {
      margin-left: 28px;
    }
    &:hover {
      background-color: lighten($blueV2, 3%);
      color: $white;
    }

    &:active {
      background-color: darken($blueV2, 5%);
      color: $white;
    }
  }

  input:focus-visible {
    outline: none; /* Remove default outline */
  }

  .dd-container {
    .dd-options {
      border: none;
      background: #FAFAFA;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 10px 20px;

      .dd-option {
        background: transparent;

        &:not(&:last-child) {
          border-bottom: 1px solid #A8A8A8;
        }

        img {
          width: 40px;
          float: none;
          margin-right: 20px;
        }

        .dd-desc {
          position: relative;
          display: inline-block;
          margin-left: 25px;
          top: 6px;
        }
      }
    }

    .dd-select {
      border: none;

      .dd-pointer {
        display: none;
      }

      &.dd-open {
        button small::after {
          transform: rotate(-180deg);
        }
      }

      button {
        border: none;
        background: transparent;

        img {
          margin-right: 24px;
          width: 45px;
        }

        label {
          display: none;
        }

        small {
          font-weight: 600;
          font-size: 28px;
          line-height: 34px;
          margin-top: 4px;
          color: #2D2F34;

          &::after {
            content: '';
            display: inline-block;
            width: 19px;
            height: 10px;
            background: url('/images/icons/chevron-down.svg') no-repeat;
            background-size: 100% 100%;
            margin-left: 20px;
            position: relative;
            top: -4px;
          }
        }
      }
    }
  }
}
