@import "../other/_variables";

.exchange-block {
  max-width: 960px;
  width: 100%;
  color: $dark;
  padding: 45px 80px;
  background: $white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;

  &__address{
    &-cp-btn{
      width: 70px;
      background: #0A4D68;
      border-radius: 0px 10px 10px 0px;
      border: 0;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      &:hover {
        background-color: #0b5776;
      }
      &:active {
        border-color: #2d4d5c !important;
        background-color: darken(#2d4d5c, 5%) !important;
        color: darken($white,5%) !important;
      }
    }
    &-blocks{
      > div:first-child{
        background: #F4F4F4;
        border-radius: 10px;
        margin: 25px auto;
      }
      >div:last-child {
        padding:10px 20px;
        margin-bottom: 5px;

      }
    }
    &-txt-block {
      padding:20px;
    }
    &-title {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #2D2F34;
      margin-bottom: 10px;
    }
    &-value {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;

      color: #0A4D68;
      overflow-wrap: break-word;
    }
    &-desc {
      font-style: italic;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #2D2F34;
      display: inline-block;
      margin-top: 15px;
    }
  }
  &__status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    max-width: 196px;
    width: 100%;
    height: 44px;

    background: #0A4D68;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    margin-right: 55px;
    margin-bottom: 0;
  }

  &__wallet-address{
    margin-top: 30px;
    margin-bottom: 65px;
  }

  &__checkbox-group{
    margin: 45px 0;
  }

  .custom-checkbox {
    margin-top: 15px;
  }

  &__swap-btn {
    border: none;
    width: 70px;
    height: 70px;
    background: #FAFAFA;
    box-shadow: -3px -3px 12px rgba(255, 255, 255, 0.03), 3px 3px 12px rgba(0, 0, 0, 0.16);
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      width: 35px;
      transition: transform 0.3s ease-in-out;
    }
    &.swapped .icon{
      transform: rotate(180deg);
    }
  }

  &__currency {
    display: flex;
    margin-bottom: 15px;

    &-symbol {
      margin-right: 25px;
    }

    &-text {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 44px;

      color: #2D2F34;
    }
  }

  &__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: space-between;
  }

  &__label {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 11px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__input-number {
    font-size: 36px;
    max-width: 260px;
  }

  &__input {
    margin: 0;
    padding: 0;
    width: 130px;
    border: unset;
    text-align: left;
    background: transparent;
    margin-right: 0.5rem;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;

  }
  &__rate{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #2D2F34;
    margin-right: 40px;
    white-space: nowrap;
  }
  &__btn {
    gap: 10px;
    color: $white;
    width: 269px;
    height: 68px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background: $blueV2;
    border: none;
    border-radius: 5px;
    outline: auto !important;

    &-block {
      display: flex;
      align-items: center;
    }
    .icon {
      margin-left: 28px;
    }
    &:hover {
      background-color: lighten($blueV2, 3%);
      color: $white;
    }

    &:active {
      background-color: darken($blueV2, 5%);
      color: $white;
    }
  }

  input:focus-visible {
    outline: none; /* Remove default outline */
  }

  .dd-container {
    .dd-options {
      border: none;
      background: #FAFAFA;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 10px 20px;

      .dd-option {
        background: transparent;

        &:hover, &:active, &:focus{
          background: #f4f4f4;
        }
        &:not(&:last-child) {
          border-bottom: 1px solid #A8A8A8;
        }

        img {
          width: 40px;
          float: none;
          margin-right: 20px;
        }

        .dd-desc {
          position: relative;
          display: inline-block;
          margin-left: 25px;
          top: 6px;
        }
      }
    }

    .dd-select {
      border: none;

      .dd-pointer {
        display: none;
      }

      &.dd-open {
        button small::after {
          transform: rotate(-180deg);
        }
      }

      button {
        border: none;
        background: transparent;

        img {
          margin-right: 24px;
          width: 45px;
        }

        label {
          display: none;
        }

        small {
          font-weight: 600;
          font-size: 28px;
          line-height: 34px;
          margin-top: 4px;
          color: #2D2F34;

          &::after {
            content: '';
            display: inline-block;
            width: 19px;
            height: 10px;
            background: url('/images/icons/chevron-down.svg') no-repeat;
            background-size: 100% 100%;
            margin-left: 20px;
            position: relative;
            top: -4px;
          }
        }
      }
    }
  }
}
@media (max-width: $lg-breakpoint) {
  .exchange-block {
    &__address {
      &-title {
        font-size: 18px;
        line-height: 15px;
      }

      &-value {
        font-size: 16px;
        line-height: 15px;
      }

      &-desc {
        font-size: 14px;
        line-height: 18px;
      }
    }

    &__footer {
      display: flex !important;
      justify-content: flex-end;
    }

    &__wallet-address {
      margin-bottom: 10px;
    }

    &__arrow {
      text-align: center;
      margin: 30px auto;

      .icon {
        transform: rotate(90deg);
      }
    }

    &__title {
      margin-bottom: 10px;
    }

    &__btn {
      display: inherit;

      &-block {
        text-align: left;
        display: inline-block;
      }
    }

    &__rate {
      display: inline-block;
      margin-bottom: 15px;
      margin-right: 0;

    }

    &__input-number {
      font-weight: 400;
      padding: 10px 0;
      max-width: 100%;
    }

    &__swap-btn {
      margin: 40px auto;

      .icon {
        transform: rotate(90deg);
      }

      &.swapped {
        .icon {
          transform: rotate(270deg);
        }
      }
    }

    &__row {
      display: block;
    }
  }
}
@media (max-width: $md-breakpoint) {
  .exchange-block {
    padding: 25px;

    &__btn {
      display: inherit;
      width: 180px;
      height: 40px;
      padding: 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;

      .icon {
        width: 17px;
      }

      &-block {
        text-align: left;
        display: inline-block;
      }
    }

    &__address {
      &-title {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 10px;
      }

      &-value {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 10px;
      }

      &-desc {
        font-style: italic;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        margin: 0;
      }
    }

    &__status {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 20px;
      width: 141px;
      height: 31px;
    }

    &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      margin-right: 0;
    }

    &__checkbox-group {
      margin: 20px 0;
    }

    &__swap-btn {
      margin: 20px auto !important;
      width: 40px;
      height: 40px;

      .icon {
        width: 20px;
        transform: rotate(90deg);
      }
    }

    &__group {
      .exchange-block__label {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
      }
    }

    &__currency {
      margin-bottom: 0;
      width: 100%;

      .dd-container, .dd-options {
        width: 100% !important;
        max-width: 430px;
      }

      &-symbol {
        width: 35px;
        margin-right: 15px;
      }

      &-text {
        font-weight: 600;
        font-size: 20px;
      }
    }

    &__arrow {
      margin: 20px auto;

      .icon {
        width: 30px;
      }
    }

    &__input {
      width: 95px;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
    }

    &__input-number {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      padding: 10px 0;
      max-width: 100%;
    }

    .dd-options {
      li.dd-option {
        padding: 25px 0 10px;

        img.dd-option-image {
          width: 30px;
        }

        label {
          font-size: 18px;
          line-height: 22px;
          color: #2D2F34;
        }

        small {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #A8A8A8;
        }
      }
    }

    .dd-container .dd-select button {
      padding: 10px 0;
    }

    .dd-container .dd-select button img {
      width: 30px;
      margin-right: 15px;
    }

    .dd-container .dd-select button small {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;

      color: #2D2F34;
    }

    .dd-container .dd-select button small {

      &::after {
        width: 16px;
        height: 10px;
        margin-left: 23px;
        top: -3px;
      }

    }
  }
}