@media (max-width: 768px) {
  .pagination__item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
  .accordion-item {
    margin-bottom: 25px;
    background: rgba(60, 60, 77, 0.08);
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.16), -3px -3px 12px rgba(255, 255, 255, 0.03);
    border-radius: 10px;
  }
  .accordion-item .accordion-header {
    margin: 0;
  }
  .accordion-item .accordion-button {
    border: none;
    color: white;
    background: none;
    box-shadow: none;
    border-radius: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .accordion-item .accordion-body {
    padding: 25px;
    margin: 0px auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  .accordion-item .accordion-body p {
    margin: 0 0 25px;
  }
  .custom-form h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
  .custom-form input {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  .custom-form .btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .global-wrapper {
    padding-top: 65px;
    padding-bottom: 40px;
  }
  .title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
  .content h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-top: 35px;
    margin-bottom: 40px;
    color: #FAFAFA;
  }
  .content h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    margin-bottom: 30px;
    color: #FAFAFA;
  }
  .content p {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    /* or 17px */
    color: #FAFAFA;
  }
  .btn-nav__navbar-nav {
    display: block;
  }
  .btn-nav__navbar-nav .nav-item {
    margin-bottom: 15px;
  }
  .btn-nav__navbar-nav .nav-link {
    display: inline-block !important;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #FAFAFA;
  }
  .custom-checkbox .checkmark {
    width: 27px;
    height: 27px;
  }
  .custom-checkbox .checkmark::after {
    left: 10px;
    position: absolute;
    top: 6px;
    width: 8px;
    height: 12px;
    border: solid #0A4D68;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .custom-checkbox__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2D2F34;
    margin-left: 15px;
  }
  .navbar-collapse {
    margin-top: 20px;
  }
  .container, .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
  .global-wrapper {
    padding-bottom: 40px;
  }
  .review-block__user {
    gap: 20px;
  }
  .review-block__date {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }
  .review-block__user-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
  }
  .review-block__user-image {
    width: 70px;
  }
  .review-block__row {
    display: block;
  }
  .review-block__txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }
  .review-block__rating {
    margin-top: 16px;
  }
  .review-block__rating .star-rating img {
    width: 15px;
  }
  .review-block__rating .star-rating img:first-child {
    margin-left: 0;
  }
  .slider-arrows {
    gap: 20px;
  }
  .slider-arrows .arrow-right, .slider-arrows .arrow-left {
    width: 35px;
    height: 35px;
  }
  .slider-arrows .arrow-right .icon, .slider-arrows .arrow-left .icon {
    width: 8px;
    vertical-align: initial;
  }
  h1.title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 45px;
    line-height: 29px;
  }
}
@media (max-width: 374px) {
  .logo {
    width: 130px;
  }
}