.exchange-block
    form.exchange-block__form(method="GET" action="/exchange.html")
        .exchange-block__row
            div.exchange-block__group
                div.exchange-block__currency
                    +dropdown('exchangeDropdownFrom', 'currency_from')
                input.exchange-block__input-number(type='number' value=0.005 name='from')
            button.exchange-block__swap-btn
                img.icon(src="images/icons/arrows-icons.svg" alt="")

            div.exchange-block__group
                div.exchange-block__currency
                    +dropdown('exchangeDropdownTo', 'currency_to')
                input.exchange-block__input-number(type='text' name='to' value='≈1.6624')


        div.exchange-block__checkbox-group
            +checkbox('Я согласен с правилами обмена', true)
            +checkbox('Я согласен с АМЛ', true)
            +checkbox('Не запоминать введенные данные', true)
        .exchange-block__row.exchange-block__footer.justify-content-end
            div.exchange-block__btn-block
                span.exchange-block__rate 1 BTC = 332.48 LTC
                button.btn.exchange-block__btn(type='submit')
                    | Обменять
                    img.icon(src="/images/icons/arrow-right.svg" alt="")
