.exchange-block
    form.exchange-block__form
        .exchange-block__row
            div.exchange-block__group
                div.exchane-block__currency.mb-4
                    +dropdown()
                input.exchange-block__input-number(type='number', value=0.005 )
            button.exchange-block__swap-btn
                img.icon(src="images/icons/arrows-icons.svg" alt="")

            div.exchange-block__group
                div.exchange-block__currency.mb-4
                    +dropdown()
                input.exchange-block__input-number(type='text', value='≈1.6624')


        div.my-5
            +checkbox('Я согласен с правилами обмена', true)
            +checkbox('Я согласен с АМЛ', true)
            +checkbox('Не запоминать введенные данные', true)
        .exchange-block__row.justify-content-end
            span.mx-5 1 BTC = 332.48 LTC
            button.exchange-block__btn(type='submit')
                | Обменять
                img.icon(src="images/icons/arrow-right.svg" alt="")
