footer.footer
    .row
        .col-7.col-lg-6.order-0
            +logo()
        .col-lg-4.order-2.order-lg-1.mt-4.mt-lg-0
            button.btn.btn-block Написать нам
        .col-5.col-lg-2.order-1.order-lg-2.d-flex.align-items-lg-start.align-items-center.justify-content-end.justify-content-lg-around
            div
                button.btn
                    +icon('message.svg')
            div
                button.btn.ms-4.ms-md-4.ms-lg-2
                    +icon('telegram.svg')
    .row.footer__links
        .col-md-4
            h6 Общее
            ul.list-unstyled
                li
                    a(href="/") Главная
                li
                    a(href="/") Отзывы
                li
                    a(href="/") Контакты
                li
                    a(href="/") FAQ
        .col-md-4
            h6 Документация
            ul.list-unstyled
                li
                    a(href="/") Политика конфиденциальности
                li
                    a(href="/") AML / KYC
                li
                    a(href="/") Пользовательское соглашение
                li
                    a(href="/") Правила
        .col-md-2.offset-md-2
            h6 Рабочие часы
            ul.list-unstyled
                li Сервис работает 24/7
                li Тех. поддержка 24/7

