extends layouts/base.pug

block header
    .container
        +header('aml_kyc.html')

block content
    div.container
        .row
            .col-12
                h1.title AML/KYC
                +renderNav([
                    {title: 'Политика конфиденциальности', link: 'privacy-policy.html', active: true},
                    {title: 'Пользовательское cоглашение', link: 'user-agreement.html', active: false},
                    {title: 'AML/KYC', link: 'aml_kyc.html', active: false},
                ])
        .row
            .col-12
                .content
                    h2 Дата выхода: 01.11.2021
                    h3 Отказ от ответственности:
                    p Уведомляем пользователей сайта о том, что владение цифровыми финансовыми активами, а также совершение операций с цифровыми финансовыми активами сопряжены с риском потери личных финансовых средств. Стоимость цифровых валют может увеличиваться или уменьшаться, что может повлечь за собой риск потери ваших средств при покупке, продаже, хранении или инвестировании их в цифровые активы.
                    p Торговля виртуальными активами и цифровыми активами также сопряжена с особыми рисками, которые обычно не присущи официальным валютам. В отличие от большинства валют, поддерживаемых правительствами или другими юридическими лицами, или таких товаров, как золото или серебро, виртуальные активы представляют собой уникальный вид «необеспеченной» валюты, поддерживаемой технологиями и доверием. В настоящее время нет государственного учреждения, которое могло бы выпускать больше виртуальной валюты или принимать корректирующие меры для защиты стоимости виртуальных активов в условиях кризиса.                    p 1.2. Файлы cookie — фрагмент данных в составе HTTPS-запроса, предназначенный для хранения на конечном устройстве Субъекта и используемый Оператором для идентификации Субъекта.
                    h3 Основные положения
                    p Настоящее Пользовательское соглашение (далее — Пользовательское соглашение) регулирует отношения между Пользователями сайта. Используя сайт, вы соглашаетесь с тем, что прочитали, поняли и приняли все условия, содержащиеся в настоящем Соглашении, а также в Политике конфиденциальности.
                    p Помимо условий настоящего пользовательского соглашения, Пользователь обязан ознакомиться с выпиской, подтверждающей законность происхождения денежных средств и/или криптовалютных активов. Если вы не согласны с условиями Пользовательского соглашения, использование сайта не допускается.
                    h3 1. Соответствие критериям
                    p 1.1. Настоящим вы соглашаетесь и подтверждаете, что вы: достигли совершеннолетия, необходимого для принятия этих условий; ранее вам не было приостановлено или запрещено использование Услуг.
                    p 1.2. Если вы пользуетесь Услугами от имени юридического лица, вы также заявляете и гарантируете, что: юридическое лицо зарегистрировано должным образом и действует в соответствии с действующим законодательством юрисдикции его регистрации, и это юридическое лицо уполномочило вас действовать на его имени.
                    h3 2. Термины и определения
                    p 2.1. Flyswap — товарный знак системы, предоставляющей Пользователям возможность обмена цифровой и электронной валюты.
                    p 2.2. Сервис — система предоставления интернет-услуг по обмену, продаже и покупке цифровых и/или электронных валют.
                    p 2.3. Пользователь – любое физическое лицо, пользующееся услугами сервиса Flyswap.
                    p 2.4. Цифровая валюта — биткойн, лайткойн, эфириум и любые другие валюты, основанные на блокчейне.
                    p 2.5. Электронная валюта — средства, находящиеся на счетах пользователей электронных платежных систем (VISA, MasterCard и др.).
                    p 2.6. Платежная система — программно-аппаратный продукт, разработанный сторонней организацией и являющийся механизмом реализации учета денежных обязательств, а также организации взаиморасчетов между ее пользователями.
                    p 2.7. Услуги сервиса — помощь в проведении p2p-транзакций между физическими лицами по купле-продаже и обмену цифровых валют, а также иные услуги, информация о которых размещена на витрине Сервиса.
                    p 2.8. Платеж — перевод цифровой валюты или фиатных средств от Пользователя к Пользователю или Сервису, а также в обратном направлении.
                    p 2.9. Заявка является выражением намерения Пользователя воспользоваться одной из услуг, предлагаемых Сервисом, путем заполнения электронной формы через сайт Сервиса, на условиях, описанных в Соглашении и указанных в параметрах настоящей Заявки.
                    p 2.10. Партнер — лицо, оказывающее Сервису услуги по привлечению Пользователей, условия которых описаны в настоящем Соглашении.
                    p 2.11. Обменный курс — это соотношение стоимости двух цифровых валют при их обмене.
                    p 2.12. «Сообщения» включают сообщения электронной почты.
                    h3 3. Услуги, предоставляемые на сайте
                    p 3.1. Сервис предоставляет Пользователю бесплатную регистрацию учетной записи. Однако Сервис взимает комиссию за оказанные услуги. Размер комиссии определяется Администрацией Сайта в одностороннем порядке и может меняться.
                    p Сервис обязан предоставлять актуальную информацию относительно комиссии за услуги в правилах сайта. Заказ Услуги осуществляется Пользователем путем направления соответствующей Заявки через сайт в сети Интернет с доменным именем.
                    p 3.2. Используя услуги Сервиса, Пользователь подтверждает, что он на законных основаниях владеет и распоряжается денежными фиатными средствами и электронной и/или цифровой валютой, участвующими в соответствующем Платеже.
                    p 3.3. Сервис Flyswap предоставляет следующие виды услуг:
                    p Услуга по предоставлению Пользователю возможности продавать электронную и/или цифровую или фиатную валюту другому Пользователю в режиме реального времени.
                    p Услуга по предоставлению Пользователю возможности покупать электронную и/или цифровую или фиатную валюту у другого Пользователя в режиме реального времени.
                    p 3.4. Оформляя Заявку, Пользователь поручает, а Сервису от своего имени и за счет Пользователя совершать действия по продаже и передаче цифровой и/или электронной или фиатной валюты другому Пользователю.
                    p 3.5. Размер вознаграждения Сервиса за данные действия в размере 1% от суммы сделки. Вознаграждение учитывается и подтверждается в Заявке Пользователем на одной из страниц пользовательского интерфейса.
                    p 3.6. В течение отведенного регламентом времени (в зависимости от направления обмена) с момента поступления денежных средств от Пользователя, в размере, указанном в соответствующей Заявке, Сервис обязуется осуществить перевод (перечисление) поступившей электронной или фиатной валюты на банковские реквизиты и в размере, указанном Пользователем в Заявке, если этому не препятствуют обстоятельства непреодолимой силы.
                    p 3.7. Сервис вправе аннулировать созданную Пользователем заявку на покупку цифровой и/или электронной или фиатной валюты, если оплата по такой заявке не поступила на расчетный счет Сервиса по истечении 30 (тридцати) минут с момента создания такого приложения.
                    p 3.8. Обязательство Сервиса по переводу (перечислению) полученной цифровой и/или электронной или фиатной валюты Пользователю считается исполненным в момент списания цифровой и/или электронной или фиатной валюты в соответствующей Платежной системе со счета Сервиса, который фиксируется в истории транзакций соответствующей Платежной системы.
                    p 3.9. Оформляя Заявку, Пользователь поручает, а Сервис от своего имени и за счет Пользователя покупает электронную и/или цифровую или фиатную валюту у другого Пользователя, а также совершает действия по перечислению денежного эквивалента Пользователю в размере указанный в Заявке.
                    p 3.10. В течение отведенного регламентом времени (в зависимости от направления обмена) с момента получения от Пользователя электронной и/или цифровой или фиатной валюты в размере, указанном в соответствующей Заявке, Сервис обязуется перевести на Пользователю денежный эквивалент указанной цифровой и/или электронной или фиатной валюты способом, выбранным Пользователем при создании Приложения.
                    p 3.11. Обязательство Сервиса по переводу денежного эквивалента переведенной цифровой и/или электронной или фиатной валюты считается исполненным в момент списания соответствующей суммы со счета Сервиса.
                    p 3.12. Все услуги сервиса предоставляются без каких-либо явных или подразумеваемых гарантий, в частности, без подразумеваемых гарантий товарного состояния и пригодности для определенной цели. Компания не гарантирует, что услуги , а также веб-сайт будут доступны 100% времени для удовлетворения ваших потребностей. Компания будет стремиться предоставить вам свои услуги как можно скорее, но нет никаких гарантий, что доступ не будет прерван или что не будет задержек, сбоев, ошибок, пропусков или потери передаваемой информации.
                    p 3.13. Сайт приложит разумные усилия для обеспечения доступа к услугам и веб-сайту в соответствии с настоящим Соглашением. Тем не менее, может приостановить использование сайта на техническое обслуживание и приложит разумные усилия, чтобы уведомить вас заранее. Таким образом, вы соглашаетесь с тем, что берете на себя риски, связанные с тем, что вы не всегда имеете возможность пользоваться услугами и сайтом или совершать срочные операции, используя свою учетную запись.
                    h3 Дополнение к порядку оказания услуг:
                    p 3.14. Ставка фиксируется при создании заявки, если Пользователь оплатил ее в течение 30 минут после создания. В случае не поступления платежа в течение 30 минут, заявка автоматически удаляется и, для восстановления заявки, Пользователю необходимо обратиться в техническую поддержку сайта. В этом случае сумма оплаты за заявку будет пересчитана по курсу на момент поступления оплаты.