extends layouts/base.pug

block header
    .container
        +header('faq.html')

block content
    div.container
        .row
            .col-12
                h1.title FAQ
        .row
            .col-12
                .content
                    +accordion([
                        {
                            header: 'Как создать заявку ?',
                            body: `<p>Возможна задержка перевода со стороны платежной системы или банка. В этом случае ускорить процесс мы не в силах, остается только ждать. Для выяснения причин задержки Вы можете позвонить или написать в тех. поддержку Вашей платежной системы или банка.</p>
                                   <p>При отправке криптовалюты также требуется время. В среднем для зачисления требуется от 3 до 6 подтверждений сети. Более подробно Вы можете уточнить у сервиса, на котором работает Ваш биткоин кошелёк.</p>
                                   <p>Скорость подтверждений зависит от загруженности сети и размера комиссии. Если Вы установили чрезмерно низкую комиссию, отправка средств может занимать несколько часов и даже гораздо дольше.</p>`,
                            id: 'accordion-item-1'
                        },
                        {
                            header: 'Фиксируется ли курс обмена ?',
                            body: `<p>Возможна задержка перевода со стороны платежной системы или банка. В этом случае ускорить процесс мы не в силах, остается только ждать. Для выяснения причин задержки Вы можете позвонить или написать в тех. поддержку Вашей платежной системы или банка.</p>
                                   <p>При отправке криптовалюты также требуется время. В среднем для зачисления требуется от 3 до 6 подтверждений сети. Более подробно Вы можете уточнить у сервиса, на котором работает Ваш биткоин кошелёк.</p>
                                   <p>Скорость подтверждений зависит от загруженности сети и размера комиссии. Если Вы установили чрезмерно низкую комиссию, отправка средств может занимать несколько часов и даже гораздо дольше.</p>`,
                            id: 'accordion-item-2'
                        },
                        {
                            header: 'Статус моей заявки изменен на “Исполнена”, но средства так и не поступили, что делать ?',
                            body: `<p>Возможна задержка перевода со стороны платежной системы или банка. В этом случае ускорить процесс мы не в силах, остается только ждать. Для выяснения причин задержки Вы можете позвонить или написать в тех. поддержку Вашей платежной системы или банка.</p>
                                   <p>При отправке криптовалюты также требуется время. В среднем для зачисления требуется от 3 до 6 подтверждений сети. Более подробно Вы можете уточнить у сервиса, на котором работает Ваш биткоин кошелёк.</p>
                                   <p>Скорость подтверждений зависит от загруженности сети и размера комиссии. Если Вы установили чрезмерно низкую комиссию, отправка средств может занимать несколько часов и даже гораздо дольше.</p>`,
                            id: 'accordion-item-3'
                        },
                        {
                            header: 'Есть ли дополнительные комиссии при обмене ?',
                            body: `<p>Возможна задержка перевода со стороны платежной системы или банка. В этом случае ускорить процесс мы не в силах, остается только ждать. Для выяснения причин задержки Вы можете позвонить или написать в тех. поддержку Вашей платежной системы или банка.</p>
                                   <p>При отправке криптовалюты также требуется время. В среднем для зачисления требуется от 3 до 6 подтверждений сети. Более подробно Вы можете уточнить у сервиса, на котором работает Ваш биткоин кошелёк.</p>
                                   <p>Скорость подтверждений зависит от загруженности сети и размера комиссии. Если Вы установили чрезмерно низкую комиссию, отправка средств может занимать несколько часов и даже гораздо дольше.</p>`,
                            id: 'accordion-item-4'
                        },
                        {
                            header: 'Сколько я могу выполнить обменов за сутки ?',
                            body: `<p>Возможна задержка перевода со стороны платежной системы или банка. В этом случае ускорить процесс мы не в силах, остается только ждать. Для выяснения причин задержки Вы можете позвонить или написать в тех. поддержку Вашей платежной системы или банка.</p>
                                   <p>При отправке криптовалюты также требуется время. В среднем для зачисления требуется от 3 до 6 подтверждений сети. Более подробно Вы можете уточнить у сервиса, на котором работает Ваш биткоин кошелёк.</p>
                                   <p>Скорость подтверждений зависит от загруженности сети и размера комиссии. Если Вы установили чрезмерно низкую комиссию, отправка средств может занимать несколько часов и даже гораздо дольше.</p>`,
                            id: 'accordion-item-5'
                        },
                    ])