extends layouts/base.pug

block header
    .container
        +header('privacy-policy.html')

block content
    div.container
        .row
            .col-12
                h1.title Политика конфиденциальности
                +renderNav([
                    {title: 'Правила', link: 'rules.html', active: true},
                    {title: 'Пользовательское cоглашение', link: 'user-agreement.html', active: false},
                    {title: 'AML/KYC', link: 'aml_kyc.html', active: false},
                ])
        .row
            .col-12
                .content
                    h2 Дата вступления в силу: 01.11.2021
                    p Настоящая Политика конфиденциальности (далее – Политика) определяет политику в отношении обработки персональных данных, содержит информацию о реализуемых требованиях к защите персональных данных Оператора.
                    p 1.1. Субъект данных — физическое лицо, достигшее совершеннолетия, использующее Веб-сайт в сети Интернет «Flyswap» для финансовых операций с электронной, цифровой или фиатной валютой.
                    p 1.2. Файлы cookie — фрагмент данных в составе HTTPS-запроса, предназначенный для хранения на конечном устройстве Субъекта и используемый Оператором для идентификации Субъекта.
                    p 1.3. Сайт представляет собой совокупность программ для электронно-вычислительных машин и иной информации в информационно-телекоммуникационной сети «Интернет», предназначенную для отображения в браузере и доступа с использованием доменного имени Оператора. В рамках деятельности Оператора используется сайт.
                    p 1.4. Регистрационные данные — перечень сведений, указываемых Оператором при регистрации на сайте, и в дальнейшем при их изменении в ходе исполнения договора.
                    p 1.5. Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием или без использования средств автоматизации с персональными данными, в том числе сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение , использование, передача (распространение, предоставление, доступ), блокирование, удаление, уничтожение персональных данных.
                    h3 2. Общие положения
                    p 2.1. Политика регламентирует обработку персональных данных при осуществлении Оператором хозяйственной деятельности, в том числе при оказании услуг по покупке/продаже за Пользователя и от имени Пользователя электронной и/или цифровой или фиатной валюты.
                    p 2.2. Требования к безопасности передаваемых персональных данных между Оператором и Субъектами предусмотрены договором (Пользовательским соглашением), заключаемым между ними в соответствии с действующим законодательством.
                    p 2.3. В случае получения персональных данных от Субъекта персональных данных последний несет ответственность за указание недостоверных персональных данных.
                    p 2.4. Действие настоящей Политики распространяется на персональные данные, полученные как до, так и после вступления в силу настоящей Политики.
                    p 2.5. Оператор обязуется придерживаться следующих принципов при обработке персональных данных:
                    p 2.5.1. обработка персональных данных должна осуществляться на законной и справедливой основе;
                    p 2.5.2. обработка персональных данных должна ограничиваться достижением конкретных, заранее определенных и законных целей. Не допускается обработка персональных данных, несовместимая с целями сбора персональных данных;
                    p 2.5.3. не допускается объединение баз данных, содержащих персональные данные, обработка которых осуществляется в целях, несовместимых друг с другом;
                    p 2.5.4. обработке подлежат только персональные данные, соответствующие целям их обработки;
                    p 2.5.5. содержание и объем обрабатываемых персональных данных должны соответствовать заявленным целям обработки. Обрабатываемые персональные данные не должны быть избыточными по отношению к заявленным целям их обработки;
                    p 2.5.6. при обработке персональных данных должны обеспечиваться достоверность персональных данных, их достаточность, а при необходимости и соответствие целям обработки персональных данных.
                    p 2.5.7. хранение персональных данных должно осуществляться в форме, позволяющей определить субъекта персональных данных, не дольше, чем этого требуют цели обработки персональных данных, если срок хранения персональных данных не установлен федеральным законом, соглашением с которым субъект персональных данных является стороной, выгодоприобретателем или поручителем. Обрабатываемые персональные данные подлежат уничтожению либо обезличиванию по достижении целей обработки либо в случае утраты необходимости в достижении этих целей, если иное не предусмотрено федеральным законом.
                    p 2.5. Настоящая Политика опубликована в сети Интернет на сайте.