extends layouts/base.pug

block header
    .container
        +header('reviews.html')

block content
    div.container
        .row
            .col-12
                h1.title Отзывы
        .row
            .col-12
                .content
