extends layouts/base.pug

block head
    link(rel='stylesheet', href='/css/reviews.css')

block header
    .container
        +header('reviews.html')

block content
    div.container
        .row
            .col-8
                h1.title Отзывы о нас
            .col-4
                .slider-arrows
                    button.btn.arrow-left
                        +icon('chevron-left.svg')
                    button.btn.arrow-right
                        +icon('chevron-right.svg')
        .row
            .col-12
                .review-blocks
                        +reviewBlock("user_1_img.png", "Harris Honko","14.05.2023", 3, "Я очень доволен использованием этого криптообменника! Он был быстрым и надежным способом для меня обменять мои криптовалюты. Весь процесс был интуитивно понятным, и я получил свои обменные монеты в течение нескольких минут. Кроме того, обменник обеспечивал высокий уровень безопасности, что для меня является важным фактором при работе с криптовалютой. Я определенно рекомендую этот криптообменник тем, кто ищет удобное и надежное место для обмена криптовалют.")
                        +reviewBlock("user_2_img.png", "Keny Sandro","20.01.2023", 3, "Очень доволен работой этого криптообменника! Процесс обмена был очень простым и понятным, а команда поддержки клиентов была на высоте - оперативно и профессионально решили все мои вопросы. Кроме того, я оценил высокую скорость обработки моей транзакции. Буду рекомендовать этот криптообменник своим друзьям и знакомым!")
                        +reviewBlock("user_1_img.png", "Harris Honko","14.05.2023", 3, "Я очень доволен использованием этого криптообменника! Он был быстрым и надежным способом для меня обменять мои криптовалюты. Весь процесс был интуитивно понятным, и я получил свои обменные монеты в течение нескольких минут. Кроме того, обменник обеспечивал высокий уровень безопасности, что для меня является важным фактором при работе с криптовалютой. Я определенно рекомендую этот криптообменник тем, кто ищет удобное и надежное место для обмена криптовалют.","d-none d-md-block")
                        +reviewBlock("user_2_img.png", "Keny Sandro","20.01.2023", 3, "Очень доволен работой этого криптообменника! Процесс обмена был очень простым и понятным, а команда поддержки клиентов была на высоте - оперативно и профессионально решили все мои вопросы. Кроме того, я оценил высокую скорость обработки моей транзакции. Буду рекомендовать этот криптообменник своим друзьям и знакомым!", "d-none d-md-block")
        .row
            .col-12
                +pagination(10, 3)

        .row.mt-5
            .col-md-6.mt-4
                .review-txt-action
                    h2
                        | Отзывы наших клиентов:
                        br
                        | ваши слова - наша мотивация
                    p Ваши отзывы очень помогают нам поддерживать качество обслуживания на высоком уровне.

            .col-md-6.mt-4
                .custom-form
                    h4 Оставить отзыв
                    input.text-input(type='text' placeholder='Имя*' required)
                    input.text-input(type='email' placeholder='Ваш e-mail*' required)
                    input.text-input(type='text' placeholder='Ваш отзыв*' required)
                    button.btn Написать


