@import "other/_variables";
@import "other/fonts";

$blue: #0A4D68;
$white: #FAFAFA;
$dark: #2D2F34;
$blueV2: #0A4D68;

// Global
@import "other/global";

// Components
@import "components/exchange-block";
@import "components/review-block";
@import "components/footer";
@import "components/header";
@import "components/checkbox";

// Pages
@import "other/main";
@import "other/responsive";