$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
) !default;

$blue: #0A4D68;
$white: #FAFAFA;
$dark: #2D2F34;
$blueV2: #0A4D68;