body {
  background: linear-gradient(148.88deg, #1A4662 10.33%, #364D59 68.64%);
  min-height: 100vh;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: $white;
}

.logo{
  max-width: 224px;
}
.global-wrapper{
  padding-top: 114px;
  padding-bottom: 75px;
}
input{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $dark;
  border:none;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid $dark;
  padding:10px;
}
.btn {
  background-color: #2d4d5c;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.16), -3px -3px 12px rgba(255, 255, 255, 0.03);
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  padding: 15px;
  color: $white;
  &.btn-block {
    display: inline-block;
    width: 100%;
  }
  &:hover {
    background-color: lighten(#2d4d5c,1%);
  }
  &:active {
    border-color: #2d4d5c !important;
    background-color: darken(#2d4d5c, 5%) !important;
    color: darken($white,5%) !important;
  }
}
.btn-nav {
  &__navbar-nav{
    display: flex;
    list-style: none;
    padding:0;
    margin: 0;
    gap: 20px;
    .nav-item{

      a.nav-link{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */


        color: #FAFAFA;

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 15px 20px;
        gap: 10px;

        height: 50px;

        background: rgba(60, 60, 77, 0.08);
        box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.16), -3px -3px 12px rgba(255, 255, 255, 0.03);
        border-radius: 10px;

      }
    }
  }
}
h1.title {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;

  color: #FAFAFA;
  margin-bottom: 30px;
}

.content {
  h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #FAFAFA;
    margin-bottom: 50px;
    margin-top: 75px;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FAFAFA;
    margin-bottom: 25px;
    margin-top: 0;
  }
  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #FAFAFA;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  > :last-child {
    margin-bottom: 0;
  }
}

.toast {
  background-color: #012437;
  color:white;
  .btn-close {
    color: white;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  }
}